@keyframes slideIn {
  0% {
    transform: translateY(-800%);
  }
  60% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(800%);
  }
}

.alert {
  position: fixed;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  background-color: #ef1e1e;
  border: 1px solid #010101;
  border-radius: 4px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  z-index: 10000;
  animation: slideIn 2s ease forwards;
}
