.pages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .number {
    display: inline-block;
    margin: 0 5px;
  }

  .currentPage {
    display: inline-block;
    padding: 8px 12px; 
    background-color: var(--moonstone);
    color: var(--gunmetal);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  

  .pageLink {
    display: inline-block;
    padding: 8px 12px; 
    background-color: var(--gunmetal);
    color: var(--moonstone);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .pageLink:hover {
    background-color: var(--moonstone);
    color: var(--gunmetal);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  

  