:root {
  --primero-color: #2c3e50;
  --segundo-color: #c0392b;
  --tercero-color: #555555;
  --fondo-color: #f5f5f5;
  --texto-color: #ffffff;
}
.name{
  color: var(--texto-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tercero-color);
  padding: 10px;
}
.navLinks {
  display: flex;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  color: var(--texto-color);
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: var(--segundo-color);
}

.nav .userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

.navButtons {
  display: flex;
  align-items: center;
}

.navButton {
  background-color: var(--segundo-color);
  color: var(--texto-color);
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: var(--primero-color);
}

