.nav {
  display: flex;
  align-items: center;
  columns: 3;
  justify-content: space-between;
  background-color: #cbe9f5;
  padding: 10px;
  font-family: "Monomaniac One", cursive;
}

.a {
  display: flex;
  gap: 40px;
  padding-left: 2rem;
}

.a a {
  text-decoration: none;
  color: #333;
}

.cart {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.cart:hover {
  background-color: #555;
}

.userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
