.loginForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .loginFormH2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .loginFormForm {
    display: flex;
    flex-direction: column;
  }
  
  .loginFormLabel {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .loginFormInput {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .loginForm button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .loginForm button:hover {
    background-color: #45a049;
  }
  
  .buttonGoogle{
    width: 100%;
    height: 10%;
    padding: 10px;
    font-size: 16px;
    background-color: #0077ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }  
    